<div class="container-fluid parallax">
  <div class="container">
    <div class="row">
    	<div class="col-6 jobs_col">
    		<div class="card">
    	    <h3 class="card-header color_light_blue white-text">My Jobs</h3>
    	    <div class="card-body">
  	        <h4 class="card-title">Here you can see your jobs and their associated boats</h4>
  	        <p class="card-text"></p>
  	        <%= link_to "My Jobs", jobs_path, class: 'btn color_light_blue' %>
    	    </div>
    		</div>
    	</div>
    	<div class="col-6 boats_col">
    		<div class="card">
    		  <h3 class="card-header color_blue white-text">My Boats</h3>
    		  <div class="card-body">
  		      <h4 class="card-title">Here you can see your boats and their associated jobs</h4>
  		      <p class="card-text"></p>
  		      <%= link_to "My Boats", boats_path, class: 'btn color_blue' %>
    		  </div>
    		</div>
    	</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="home_content">
    <h1>Overview</h1>
    <div class="row">
      <% @jobs.each do |job| %>
        <%= render job %>
      <% end %>
      <% @boats.each do |boat| %>
        <%= render boat %>
      <% end %>
    </div>
  </div>
</div>
