<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<div class="card card_blue">
		    <div class="view overlay hm-white-slight">
	        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
	        <a href="#">
	          <div class="mask"></div>
	        </a>
		    </div>
		    <div class="card-body">
	        <h4 class="card-title white-text">New Boat</h4>
	        <p class="card-text white-text">Select this option to create a new boat for your profile</p>
	        <%= link_to "New Boat", new_boat_path, class: "btn btn-primary" %>
		    </div>
			</div>
		</div>
		<% @boats.each do |boat| %>
			<%= render boat %>
		<% end %>
	</div>
</div>
