<div class="card">
  <div class="view overlay hm-white-slight">
    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
    <a href="#">
      <div class="mask"></div>
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @boat.name %></h4>
    <p class="card-text">
    	<ul>
    		<li>Capacity: <%= @boat.capacity %></li>
    		<li>Location: <%= @boat.location %></li>
    	</ul>
    </p>
  </div>
</div>
